
<%= link_to 'New Post2', new_post2_path %>

<div class="container">
  <div class="row">
    <% @post2s.each do |post2| %>
    <a href="<%= post2_path(post2)%>">
        <div class="col-md-4 col-sm-6 col-xs-12 ">
        <div class="post2">
           <div class="post2-image"><%= raw post2.image%></div>
           <div class="post2-title"><%= post2.title[0,40] %></div>
           <div class="post2-content"><%= post2.indexcontent %></div>
           <div class="post2-createdat"><p><%= post2.created_at.strftime("20%y / %m / %d")%>   |     <%= post2.author %></p></div>
          <div class="post2-category"><%= post2.category %></div>
        </div>
      </div>
    </a>
   <% end %>
  </div>
</div>
