<header class="navbar">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <input type="checkbox" class="toggle-mask">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "蝦爆", root_path, class: "navbar-brand"%>

      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "釣蝦報導", news2s_path %></li>
        <li><%= link_to "比賽列表", races_path %></li>
        <li><%= link_to "販售蝦子", sells_path %></li>
        <li><%= link_to "購買蝦子", buys_path %></li>
        <li>
          <% if current_user %>
           <%= link_to current_user.name, root_path %>
          <% else %>
          <%= link_to "登入", pages_home_path %>
          <% end %>
        </li>
      </ul>
    </div><!-- /.container-fluid -->
  </nav>
</header>
