<main class="container">
	<div class="item-list inner">
		<div class="row">
			<% @sells.each do |sell| %>
			<a href="<%= sell_path(sell)%>">
				<div class="new col-md-4 col-sm-6 col-xs-12">
					<div class="item-inner">

						<% if sell.status == "待售" %>
						<button class="pure-button button-success">賣蝦資訊</button>
						<div class="item-title_sellshow">Alex Guo</div>
						<!--這段是地點icon , 賣蝦時間 -->
						<div class="item-location2">
							<div class="location-icon"><%= image_tag("1D.png") %></div>
							<div class="location-text"><%= sell.location %></div>
							<div class="location-people"><%= sell.created_at.strftime("%m/%d %H:%M") %></div>
						</div>
						<!--這段是下方賣蝦狀態區塊-->
						<div class="item-spot2">
							<div class="datetime2">
								待售
							</div>
							<div class="money2">
								<span class="money-title2"><%= sell.category %> <%= sell.weight %></span>
								<span class="money-text2">400</span>
							</div>
						</div>

						<% elsif sell.status =="已售" %>


						<button class="pure-button button-red">賣蝦資訊</button>
						<div class="item-title_sellshow">Alex Guo</div>
						<!--這段是地點icon , 賣蝦時間 -->
						<div class="item-location3">
							<div class="location-icon"><%= image_tag("1G.png") %></div>
							<div class="location-text"><%= sell.location %></div>
							<div class="location-people"><%= sell.created_at.strftime("%m/%d %H:%M") %></div>
						</div>
						<!--這段是下方賣蝦狀態區塊-->
						<div class="item-spot3">
							<div class="datetime3">
								<%= sell.status %>
							</div>
							<div class="money3">
								<span class="money-title3"><%= sell.category %> <%= sell.weight %></span>
								<span class="money-text2">400</span>
							</div>
						</div>

						<% end %>
					</div>
				</div>
			</a>
			<% end %>
		</div>
	</div>
</main>
