<!DOCTYPE html>
<html>
<head>
  <title>蝦爆 | Shabao</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <script src="https://unpkg.com/packery@2/dist/packery.pkgd.js"></script>
  <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
  <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- include summernote css/js-->
  <link href="//cdn.bootcss.com/summernote/0.7.0/summernote.min.css" rel="stylesheet">
  <script src="//cdn.bootcss.com/summernote/0.7.0/summernote.min.js"></script>

</head>

<body>
  <div class="wrap">
    <header class="hero">
      <div class="container-fluid">
          <!-- Second navbar for categories -->
          <nav class="nav-main">
            <div class="container nav-container">
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="nav-wrap" id="navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li><%= link_to "首頁", news2s_path %></li>
                  <li><%= link_to "比賽列表", races_path %></li>
                  <li><%= link_to "賣蝦", sells_path %></li>
                  <li><%= link_to "買蝦", buys_path %></li>
                  <li>
                    <% unless current_user %>
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">登入</button>
                    <% else %>
                    <%= link_to current_user.name, root_path %>
                    <% end %>

                    </li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container -->
          </nav><!-- /.navbar -->
        </div>

    </header>

    <%= yield %>
  </div>
  <!--以下這段是bootstrap-modal FBlogin-->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">登入</h4>
          <p>立刻登入會員，啟用更多功能</p>
        </div>
        <div class="modal-body">
          <%= button_to "使用Facebook帳號登入", user_facebook_omniauth_authorize_path,
           class: "button-xlarge pure-button button-facebook" %>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
</body>
</html>
